# Ignore everything
*

# Recursively allow src files
!src
!src/**
!test
!test/**
!sudokus
!sudokus/**
!docs
!docs/**

# Always ignore these files
*.DS_Store
../.idea/

# Allow these files
!.project
!.gitignore